<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button block (click)="index? stopScanning():scanBeacons()"[color]="buttonProps[index].color">{{buttonProps[index].text }} <ion-icon item-end [name]="buttonProps[index].icon"></ion-icon></button>
     <ion-list *ngIf="shelfs">
        <ion-item *ngFor="let beacon of shelfs">
          <ion-thumbnail item-start>
            <img [src]="beacon.imgUrl">
          </ion-thumbnail>
          <h2>{{beacon.topic}}</h2>
          <p>Shelf of {{beacon.color}} Beacon</p>
          <button ion-button clear item-end (click)="viewShelfBooks(beacon.uuid)">View Books</button>
        </ion-item>
      </ion-list>


</ion-content>
